* {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 10px 20px;
    width: 1200px;
}

.container {
    width: 1200px;
    background: radial-gradient(purple, black);
}

.boxes {
    color: white;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, lightgray, gray, lightgray);
}

.icon {
    height: 40px;
    width: 40px;
}

.button {
    color: white;
    background-color: darkgreen;
    border-color: 2px solid black;
    border-radius: 5px
}

.logo {
    height: 40px;
    width: 40px;
}

#footer {
    background-color: white;
}

h1 {
    font-family: chalkboard, arial, Georgia, sans-serif;
}

#name {
    display: inline-block;
}

#description {
    float: right;
    display: inline-block;
}

.bio {
    height: 300px;
    width: 1200px;
    padding: 10px;
}

#profile_pic {
    height: 300px;
    width: 500px;
    margin:10px;
    display: inline-block;
    vertical-align: top;
}

#pic_of_me {
    border: 7px solid lightgray;
    height: 100%;
    width: auto;
}

#biography {
    margin: 10px;
    height: 100%;
    width: 600px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}

.main_content {
    padding: 10px;
}

.projects {
    width: 350px;
    margin: 15px;
    background-color: #ffe6ff;
    display: inline-block;
    vertical-align: top;
}

.project_description {
    height: 180px;
    padding: 0px 10px;
    font-size: 18px;
}

.screenshot {
    height: auto;
    width: 100%;
}
.icon {
    height: 26px:
    width: 26px;
    margin: 5px;
}

.button {
    height: 40px
    display: inline-block;
}

p {
    display: block;
}